:root {
  --main-color: plum;
  --cell-size: 25px;
  --move-time: 300ms;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background: black;
  margin-top: 100px;
}

#game {
  overflow: hidden;
  position: relative;
  border: 2px solid var(--main-color);
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid: repeat(13, var(--cell-size)) / repeat(24, var(--cell-size));
}

.cell {
  /* border: 1px dotted lightblue; */
}

.cell-blocked {
  border: 2px solid var(--main-color);
  background: var(--main-color);

  /* border-radius: 25px; */
  /* background: yellow; */
}

.cell-blocked + .cell-blocked {
  /* border-left: none;
  border-right: none;
  background: yellow;
  border-radius: 0; */
}

.cell-candy:after {
  content: "🍬";
  position: relative;
}

.cell-food:after {
  color: lightblue;
  content: ".";
  position: relative;
  left: 50%;
}

.critter {
  position: absolute;
  top: 3px;
  left: 5px;
  transform: translate(0, 0);
  transition: linear transform 300ms;
}

.critter:after {
  content: "🐣";
  animation: changeBaby 0.3s linear infinite alternate;
  position: absolute;
  margin-left: -50%;
}

@keyframes changeBaby {
  /* 0% {
    content: "🐥";
  } */
  0% {
    content: "🐣";
  }
  100% {
    content: "🥚";
  }
}

.critter-beast:after {
  content: "🐥";
  animation: waddle 0.3s infinite alternate;
}

@keyframes waddle {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
