:root {
  --main-color: plum;
  --cell-size: 43px;
  --move-time: 300ms;
  --critter: "🐕";
  --beast: "🐾";
  --candy: "🦴";
  --ghost: "🦖";
}

@font-face {
  font-family: PacFont;
  src: url("pacfont.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background: black;
  margin-top: 25px;
}

.fork-link {
  position: absolute;
  right: 0;
  top: 0;
}

#game {
  overflow: hidden;
  position: relative;
  border: 2px solid var(--main-color);
  border-radius: var(--cell-size);
  width: fit-content;
  font-size: var(--cell-size);
  margin: 0 auto;
  display: grid;
  grid: repeat(13, var(--cell-size)) / repeat(24, var(--cell-size));
}

h1 {
  font-size: 4em;
  text-align: center;
  color: var(--main-color);
  font-family: PacFont;
}

.cell {
  /* border: 1px dotted lightblue; */
}

.cell-blocked {
  border: 2px solid var(--main-color);
  background: var(--main-color);
}

.cell-blocked {
  background: black;
  border: none;
}

.border-right {
  border-right: 2px solid var(--main-color);
}
.border-top {
  border-top: 2px solid var(--main-color);
}
.border-left {
  border-left: 2px solid var(--main-color);
}
.border-bottom {
  border-bottom: 2px solid var(--main-color);
}
.border-bottom.border-right {
  border-radius: 0 0 5px 0;
}
.border-bottom.border-left {
  border-radius: 0 5px 0 5px;
}
.border-top.border-left {
  border-radius: 5px 0 0 0;
}
.border-top.border-right {
  border-radius: 0 5px 0 0;
}

.border-bottom.border-left.border-right {
  border-radius: 0 0 5px 5px;
}
.border-bottom.border-top.border-right {
  border-radius: 0 5px 5px 0;
}
.border-left.border-top.border-bottom {
  border-radius: 5px 0 0 5px;
}
.border-top.border-left.border-right {
  border-radius: 5px 5px 0 0;
}

.border-bottom.border-left.border-top.border-right {
  border-radius: 5px;
}

.cell-candy:after {
  content: var(--candy);
  padding-left: 3px;
  font-size: 0.75em;
  vertical-align: top;
}

.cell-food:after {
  color: lightblue;
  content: ".";
  position: relative;
  left: 14px;
  top: -14px;
}

.ghost,
.critter {
  position: absolute;
  top: 3px;
  left: 3px;
  transition: linear all 300ms;
  transition-property: opacity, top, left;
}

.ghost:after,
.critter:after {
  content: var(--critter);
  font-size: 0.75em;
  animation: waddle 0.3s infinite alternate;
  transform-origin: center;
}

.ghost:after {
  content: var(--ghost);
}

.critter-up {
  transform: rotate(90deg);
}

.critter-down {
  transform: rotate(270deg);
}

.critter-right {
  transform: scaleX(-1);
}

.critter-beast:after {
  content: var(--beast);
  animation: waddle 0.2s infinite alternate;
}

.critter-fade {
  animation: fade 0.3s 5 alternate-reverse;
}

.critter-dead {
  filter: brightness(0.3) sepia(0.4) hue-rotate(304deg) saturate(5);
  text-shadow: 7px 1px 20px #a97922;
}

@keyframes waddle {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 20%;
  }
}

@keyframes full-shape {
  0% {
    border-right: 0.4em solid transparent;
  }
  100% {
    border-right: 0.4em solid var(--main-color);
  }
}
